USE [smart_budget]
GO
/****** Object:  Table [dbo].[categorie]    Script Date: 02/06/2024 14:14:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categorie](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](max) NOT NULL,
	[id_utente] [int] NOT NULL,
 CONSTRAINT [PK_categorie] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[conti]    Script Date: 02/06/2024 14:14:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conti](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](max) NOT NULL,
	[saldo] [decimal](18, 2) NOT NULL,
	[valuta] [nvarchar](10) NOT NULL,
	[inclusione_statistiche] [bit] NOT NULL,
	[id_utente] [int] NOT NULL,
 CONSTRAINT [PK_conti] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_movimenti]    Script Date: 02/06/2024 14:14:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_movimenti](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[descrizione] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_tipo_movimenti] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transazioni]    Script Date: 02/06/2024 14:14:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transazioni](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[importo] [decimal](18, 2) NOT NULL,
	[nome] [nvarchar](max) NOT NULL,
	[data] [date] NOT NULL,
	[ora] [varchar](5) NOT NULL,
	[id_utente] [int] NOT NULL,
	[tipo_movimento] [int] NOT NULL,
	[id_categoria] [int] NOT NULL,
	[id_conto_1] [int] NOT NULL,
	[id_conto_2] [int] NULL,
 CONSTRAINT [PK_transazioni] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[utenti]    Script Date: 02/06/2024 14:14:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[utenti](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](max) NOT NULL,
	[cognome] [nvarchar](max) NOT NULL,
	[email] [nvarchar](max) NOT NULL,
	[password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_utenti] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[conti] ADD  CONSTRAINT [DF_conti_valuta]  DEFAULT (N'EUR') FOR [valuta]
GO
ALTER TABLE [dbo].[conti] ADD  CONSTRAINT [DF_conti_inclusione_statistiche]  DEFAULT ((1)) FOR [inclusione_statistiche]
GO
ALTER TABLE [dbo].[categorie]  WITH CHECK ADD  CONSTRAINT [FK_categorie_utenti] FOREIGN KEY([id_utente])
REFERENCES [dbo].[utenti] ([ID])
GO
ALTER TABLE [dbo].[categorie] CHECK CONSTRAINT [FK_categorie_utenti]
GO
ALTER TABLE [dbo].[conti]  WITH CHECK ADD  CONSTRAINT [FK_conti_utenti] FOREIGN KEY([id_utente])
REFERENCES [dbo].[utenti] ([ID])
GO
ALTER TABLE [dbo].[conti] CHECK CONSTRAINT [FK_conti_utenti]
GO
ALTER TABLE [dbo].[transazioni]  WITH CHECK ADD  CONSTRAINT [FK_transazioni_categorie] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[categorie] ([ID])
GO
ALTER TABLE [dbo].[transazioni] CHECK CONSTRAINT [FK_transazioni_categorie]
GO
ALTER TABLE [dbo].[transazioni]  WITH CHECK ADD  CONSTRAINT [FK_transazioni_conti1] FOREIGN KEY([id_conto_1])
REFERENCES [dbo].[conti] ([ID])
GO
ALTER TABLE [dbo].[transazioni] CHECK CONSTRAINT [FK_transazioni_conti1]
GO
ALTER TABLE [dbo].[transazioni]  WITH CHECK ADD  CONSTRAINT [FK_transazioni_conti2] FOREIGN KEY([id_conto_2])
REFERENCES [dbo].[conti] ([ID])
GO
ALTER TABLE [dbo].[transazioni] CHECK CONSTRAINT [FK_transazioni_conti2]
GO
ALTER TABLE [dbo].[transazioni]  WITH CHECK ADD  CONSTRAINT [FK_transazioni_tipo_movimenti] FOREIGN KEY([tipo_movimento])
REFERENCES [dbo].[tipo_movimenti] ([ID])
GO
ALTER TABLE [dbo].[transazioni] CHECK CONSTRAINT [FK_transazioni_tipo_movimenti]
GO
ALTER TABLE [dbo].[transazioni]  WITH CHECK ADD  CONSTRAINT [FK_transazioni_utenti] FOREIGN KEY([id_utente])
REFERENCES [dbo].[utenti] ([ID])
GO
ALTER TABLE [dbo].[transazioni] CHECK CONSTRAINT [FK_transazioni_utenti]
GO
ALTER TABLE [dbo].[utenti]  WITH CHECK ADD  CONSTRAINT [FK_utenti_utenti] FOREIGN KEY([ID])
REFERENCES [dbo].[utenti] ([ID])
GO
ALTER TABLE [dbo].[utenti] CHECK CONSTRAINT [FK_utenti_utenti]
GO
