.landing-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.landing-page .div-2 {
  background-color: #ffffff;
  height: 640px;
  position: relative;
  width: 360px;
}

.landing-page .text-wrapper-2 {
  color: #333437b2;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  height: 9px;
  left: 44px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 481px;
  white-space: nowrap;
  width: 119px;
}

.landing-page .text-wrapper-3 {
  color: #389fff;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  height: 9px;
  left: 163px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 481px;
  white-space: nowrap;
  width: 44px;
}

.landing-page .p {
  color: #333437cc;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 500;
  height: 27px;
  left: 11px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 241px;
  width: 245px;
}

.landing-page .text-wrapper-4 {
  color: #333437cc;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 700;
  height: 9px;
  left: 108px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 169px;
  white-space: nowrap;
  width: 138px;
}

.landing-page .pulsante {
  height: 32px;
  left: 32px;
  position: absolute;
  top: 437px;
  width: 298px;
}

.landing-page .div-wrapper {
  background-color: #389fff;
  border: 1px solid;
  border-color: #33343780;
  border-radius: 8px;
  height: 32px;
  position: relative;
  width: 296px;
}

.landing-page .text-wrapper-5 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 700;
  height: 9px;
  left: 87px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  white-space: nowrap;
  width: 120px;
}

.landing-page .input-password {
  height: 37px;
  left: 17px;
  position: absolute;
  top: 384px;
  width: 313px;
}

.landing-page .overlap {
  height: 37px;
  position: relative;
  width: 311px;
}

.landing-page .accedi-button-2 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #33343780;
  border-radius: 8px;
  height: 32px;
  left: 15px;
  position: absolute;
  top: 5px;
  width: 296px;
}

.landing-page .rectangle-2 {
  background-color: #ffffff;
  height: 5px;
  left: 29px;
  position: absolute;
  top: 5px;
  width: 48px;
}

.landing-page .text-wrapper-6 {
  color: #333437b2;
  font-family: "Inter", Helvetica;
  font-size: 10px;
  font-weight: 500;
  height: 9px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 106px;
}

.landing-page .text-input-instance {
  left: 8px !important;
  position: absolute !important;
  top: 331px !important;
}

.landing-page .input-nome {
  height: 37px;
  left: 32px;
  position: absolute;
  top: 278px;
  width: 121px;
}

.landing-page .overlap-2 {
  height: 37px;
  position: relative;
  width: 119px;
}

.landing-page .accedi-button-3 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #33343780;
  border-radius: 8px;
  height: 32px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 119px;
}

.landing-page .rectangle-3 {
  background-color: #ffffff;
  height: 6px;
  left: 16px;
  position: absolute;
  top: 5px;
  width: 30px;
}

.landing-page .text-wrapper-7 {
  color: #333437b2;
  font-family: "Inter", Helvetica;
  font-size: 10px;
  font-weight: 500;
  height: 9px;
  left: 9px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 43px;
}

.landing-page .input-cognome {
  height: 37px;
  left: 181px;
  position: absolute;
  top: 278px;
  width: 149px;
}

.landing-page .overlap-3 {
  height: 37px;
  position: relative;
  width: 147px;
}

.landing-page .accedi-button-4 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #33343780;
  border-radius: 8px;
  height: 32px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 147px;
}

.landing-page .rectangle-4 {
  background-color: #ffffff;
  height: 6px;
  left: 14px;
  position: absolute;
  top: 5px;
  width: 48px;
}

.landing-page .text-wrapper-8 {
  color: #333437b2;
  font-family: "Inter", Helvetica;
  font-size: 10px;
  font-weight: 500;
  height: 9px;
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 53px;
}

.landing-page .smartbudget-logo-instance {
  left: 11px !important;
  position: absolute !important;
  top: 69px !important;
}

.landing-page .design-component-instance-node {
  color: var(--variable-collection-notion-title) !important;
}
