.login {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.login .div {
    background-color: #ffffff;
    height: 640px;
    position: relative;
    width: 360px;
}

.login .text-wrapper-2 {
    color: #333437b2;
    font-family: "Inter-Medium", Helvetica;
    font-size: 12px;
    font-weight: 500;
    height: 9px;
    left: 59px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 400px;
    white-space: nowrap;
    width: 120px;
}

.login .text-wrapper-3 {
    color: #389fff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 12px;
    font-weight: 500;
    height: 11px;
    left: 182px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 400px;
    white-space: nowrap;
    width: 62px;
}

.login .text-wrapper-4 {
    color: #333437cc;
    font-family: "Inter-Medium", Helvetica;
    font-size: 15px;
    font-weight: 500;
    height: 27px;
    left: 44px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 195px;
    width: 265px;
}

.login .text-wrapper-5 {
    color: #333437cc;
    font-family: "Inter-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    height: 9px;
    left: 104px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 169px;
    white-space: nowrap;
    width: 146px;
}

.login .pulsante-accesso {
    height: 32px;
    left: 58px;
    position: absolute;
    top: 355px;
    width: 240px;
}

.login .div-wrapper {
    background-color: #389fff;
    border: 1px solid;
    border-color: #33343780;
    border-radius: 8px;
    height: 32px;
    position: relative;
    width: 238px;
}

.login .text-wrapper-6 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    height: 9px;
    left: 70px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 10px;
    white-space: nowrap;
    width: 96px;
}

.login .input-password {
    height: 37px;
    left: 51px;
    position: absolute;
    top: 304px;
    width: 248px;
}

.login .overlap {
    height: 37px;
    position: relative;
    width: 246px;
}

.login .accedi-button {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #33343780;
    border-radius: 8px;
    height: 32px;
    left: 8px;
    position: absolute;
    top: 5px;
    width: 238px;
}

.login .rectangle {
    background-color: #ffffff;
    height: 5px;
    left: 19px;
    position: absolute;
    top: 5px;
    width: 48px;
}

.login .text-wrapper-7 {
    color: #333437b2;
    font-family: "Inter-Medium", Helvetica;
    font-size: 10px;
    font-weight: 500;
    height: 9px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 85px;
}

.login .input-email {
    height: 38px;
    left: 41px;
    position: absolute;
    top: 255px;
    width: 258px;
}

.login .overlap-2 {
    height: 38px;
    position: relative;
    width: 256px;
}

.login .accedi-button-2 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #33343780;
    border-radius: 8px;
    height: 32px;
    left: 18px;
    position: absolute;
    top: 6px;
    width: 238px;
}

.login .rectangle-2 {
    background-color: #ffffff;
    height: 5px;
    left: 29px;
    position: absolute;
    top: 6px;
    width: 28px;
}

.login .smartbudget-logo-instance {
    left: 11px !important;
    position: absolute !important;
    top: 69px !important;
}

.login .design-component-instance-node {
    color: #333437 !important;
}
