-- newSaldoConti deve ricalcolare il saldo dei conti dopo ogni inserimento, aggiornamento o cancellazione di una transazione
CREATE TRIGGER newSaldoConti
ON transazioni
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    -- Aggiorna il saldo dei conti
    UPDATE conti
    SET saldo = 
        (
            SELECT 
                ISNULL((SELECT SUM(importo) FROM transazioni t WHERE t.tipo_movimento = 1 AND (t.id_conto_1 = conti.ID OR t.id_conto_2 = conti.ID)), 0) -
                ISNULL((SELECT SUM(importo) FROM transazioni t WHERE t.tipo_movimento = 2 AND (t.id_conto_1 = conti.ID OR t.id_conto_2 = conti.ID)), 0) -
                ISNULL((SELECT SUM(importo) FROM transazioni t WHERE t.tipo_movimento = 3 AND t.id_conto_1 = conti.ID), 0) +
                ISNULL((SELECT SUM(importo) FROM transazioni t WHERE t.tipo_movimento = 3 AND t.id_conto_2 = conti.ID), 0)
        )
    WHERE conti.ID IN (
        SELECT id_conto_1 FROM inserted 
        UNION 
        SELECT id_conto_2 FROM inserted
        UNION
        SELECT id_conto_1 FROM deleted
        UNION
        SELECT id_conto_2 FROM deleted
    );
END;
